@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-image: url(bckg.jpg);
    background-size: cover;
}

.heading{
    font-family:"Bitter";
    font-weight: bold ;
    text-align:center;
    font-size: 50px;
}

.subheading{
    font-family:"Bitter";
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

.p1{
    font-family:"Bitter";
    text-align: center;
    font-size: 30px;
}

.p2{
    font-family:"Bitter";
    font-weight: bold;
    text-align: center;
    font-size: 28px;
}

.p3{
    font-family:"Bitter";
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}
